<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HCHomeServer.mapper.PersonInfoMapper">
	<resultMap type="HCHomeServer.model.db.PersonInfo" id="personInfoMap">
		<id property="infoId" column="info_id"/>
		<result property="name" column="name"/>
		<result property="term" column="term"/>
		<result property="verificationCode" column="verification_code"/>
		<result property="createdDate" column="created_at"/>
		<result property="lastUpdate" column="updated_at"/>
	</resultMap>
	<select id="checkCode" parameterType="String" resultMap="personInfoMap">
		select *
		from person_infos
		where verification_code = #{verificationCode}
	</select>
</mapper>