<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HCHomeServer.mapper.PostPictureMapper">
	<insert id="addPostPicture" parameterType="HCHomeServer.model.db.PostPicture" useGeneratedKeys="true" keyProperty="pictureId">
		insert into post_pictures(url, post_id, `order`)
		values(#{url},#{postId},#{order})
	</insert>
	<delete id="deletePictureByPostId" parameterType="int">
		delete from post_pictures 
		where post_id=#{postId} and picture_id>0
	</delete>
	<select id="getPictureUrlArrayByPostId" parameterType="int">
		select url
		from post_pictures
		where post_id=#{postId} and picture_id>0
	</select>
</mapper>